//
//  ExampleConfig.debug.xcconfig
//  Example
//
//  Created by August on 2022/5/15.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_DISPLAY_NAME = Debug
//PRODUCT_BUNDLE_IDENTIFIER = com.wyz.exampledebug
//CURRENT_PROJECT_VERSION = 1.2.2
MARKETING_VERSION = 0.0.1

